.full-frame {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;

    height: 100%;
    width: 100%;
}

.lobby-frame {
    position: fixed;
    top: 0%;
    left: 0%;

    height: 100%;
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color:#d7faff;
}

.chat-frame-yes-video {
    position: fixed;
    top: 0%;
    left: 20%;
    
    height: 100%;
    width: 40%;
    background-color: #d6d6d6;
}

.video-frame-yes-video {
    position: fixed;
    top: 0%;
    left: 60%;

    height: 100%;
    width: 40%;

    border-left-width: 1px;
    border-left-color: black;
    border-left-style: solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #ffffff;
}

.chat-frame-no-video {
    position: fixed;
    top: 0%;
    left: 20%;
    
    height: 100%;
    width: 60%;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: black;

    background-color: #eeeeee;
}

.video-frame-no-video {
    position: fixed;
    top: 0%;
    left: 80%;

    height: 100%;
    width: 20%;

    border-left-width: 1px;
    border-left-color: black;
    border-left-style: solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #ffffff;
}

.hog-pub-box {
    position: relative;

    height: 20%;
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hog-pub-header {
    margin-top: auto;

    font-size: 60px;
    font-weight: normal;
    color: #2196F3;
}

.lobby-title {
    position: relative;
    margin-top: auto;
    bottom: 20%;
    font-size: 30px;
    font-weight: normal;
    color: #2196F3;
}

.misc-box {
    position: relative;
    
    height: 80%;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.lobby-info-box {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;

    height: 80%;
    width: 90%;

    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: #2196F3;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.lobby-info-header {
    position: relative;

    font-size: 25px;
    font-weight: normal;
    color: #2196F3;
}

.lobby-info-text {
    position: relative;

    font-size: 15px;
    font-weight: normal;
    color: #2196F3;
}

.start-queue-button {
    position: relative;

    width: 90%;
    height: 5%;

    outline: none;
    border: none;

    display: flex;
    align-items: center;
    text-align: center;

    background: #4ed6f8;
}

.start-queue-text {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    color: #ffffff;
    font-size: 100%;
}

.leave-lobby-button {
    position: relative;
    margin-bottom: auto;

    width: 90%;
    height: 5%;

    outline: none;
    border: none;

    display: flex;
    align-items: center;
    text-align: center;

    background: #FFBBBB;
}

.leave-lobby-text {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    color: #ffffff;
    font-size: 100%;
}

.messages-frame {
    position: relative;
    top: 0%;
    margin-left: auto;
    margin-right: auto;

    height: 90%;
    width: 95%;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: auto;
}

.messages-frame::-webkit-scrollbar {
    width: 5px;
}

.messages-frame::-webkit-scrollbar-track {
    background: #ddd;
}

.messages-frame::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.message-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.message-content {
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-username {
    margin-right: 10px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-timestamp {
    font-size: 0.85em;
}

.message-bubble {
    position: relative;

    min-width: 100px;
    max-width: 800px;
    
    padding: 12px;

    overflow-x: hidden;
}

.other-message {
    margin-top: 10px;
    margin-bottom: 0px;

    align-self: flex-start;

    border-radius: 15px;
    border-bottom-left-radius: 0;

    background:  #ffd8d8;
}

.user-message  {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 5px;

    align-self: flex-end;

    border-radius: 15px;
    border-bottom-right-radius: 0px;

    background: #A9F1DF;
    color: #000000;
}

.status-msg {
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    top: 2%;

    font-size: 15px;
    text-align: center;
}

.send-message-form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

    width: 95%;
}