.page {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    height: 100%;
    width: 100%;
}

.full-frame-chat {
    position: fixed;
    margin-top: 4%;
    
    height: 92%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.lobby-frame {
    position: relative;
    z-index: 1;

    height: 100%;
    width: 15%;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color:white;

    box-shadow: 10px 0 10px -7px #000;
}

.chat-frame-yes-video {
    position: relative;

    height: 100%;
    width: 40%;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: black;

    background-color: #d6d6d6;
}

.video-frame-yes-video {
    position: relative;

    height: 100%;
    width: 40%;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left-width: 1px;
    border-left-color: black;
    border-left-style: solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #ffffff;
}

.chat-frame-no-video {
    position: relative;

    height: 100%;
    width: 70%;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: black;

    background-color: #ffffff;
}

.video-frame-no-video {
    position: relative;

    height: 100%;
    width: 20%;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left-width: 1px;
    border-left-color: black;
    border-left-style: solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #ffffff;
}

.hog-pub-box {
    position: relative;

    height: auto;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;

    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: black;
}

.hog-pub-header {
    margin-top: auto;
    margin-bottom: auto;

    font-size: 60px;
    font-weight: normal;

}

.lobby-title {
    position: relative;
    margin-top: 5%;
    margin-bottom: auto;
    bottom: 20%;

    font-size: 30px;
    font-weight: normal;

}

.misc-box {
    position: relative;
    
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.lobby-info-box {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;

    height: 60%;
    width: 90%;

    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;

    display: flex;
    align-items: center;
    flex-direction: column;

    color: black;
}

.lobby-info-header {
    position: relative;

    font-size: 25px;
    font-weight: normal;
}

.lobby-info-text {
    position: relative;

    font-size: 15px;
    font-weight: normal;
}

.menu {
    position: relative;
    width: 100%;
}

.start-queue-button {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;

    width: 90%;
    height: 5%;

    outline: none;
    border: none;

    display: flex;
    align-items: center;
    text-align: center;

    background: #347e1d;
}

.start-queue-text {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    color: #ffffff;
    font-size: 100%;
}

.leave-lobby-button {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;

    width: 90%;
    height: 5%;

    outline: none;
    border: none;

    display: flex;
    align-items: center;
    text-align: center;

    background: rgb(238, 111, 106);
}

.leave-lobby-text {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    color: #ffffff;
    font-size: 100%;
}

.messages-frame {
    position: relative;
    top: 0%;
    margin-left: auto;
    margin-right: auto;

    height: 90%;
    width: 95%;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: auto;
}

.messages-frame::-webkit-scrollbar {
    width: 5px;
}

.messages-frame::-webkit-scrollbar-track {
    background: #ddd;
}

.messages-frame::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.message-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.message-content {
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-username {
    margin-right: 10px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-timestamp {
    font-size: 0.85em;
}

.message-bubble {
    position: relative;

    min-width: 100px;
    max-width: 800px;
    
    padding: 12px;

    overflow-x: hidden;
}

.other-message {
    margin-top: 10px;
    margin-bottom: 0px;

    align-self: flex-start;

    border-radius: 15px;
    border-bottom-left-radius: 0;

    background:  #ffd8d8;
    color: #000000;
    box-shadow: 1px 1px 5px -2px black;
}

.user-message  {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 5px;

    align-self: flex-end;

    border-radius: 5px;
    border-bottom-right-radius: 0px;

    background: #7BDFFF;
    color: #000000;

    box-shadow: 1px 1px 5px -2px black;
}

.status-msg {
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

    font-size: 15px;
    text-align: center;
}

.send-message-form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

    width: 95%;
}

.appbar {
    height: 8%;
}

.toolbar {
    position: relative;
    
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.leave-lobby-temp {
    position: absolute;
    left: 1%;
}

.hog-pub-header-temp {
    position: absolute;
}

.start-queue-temp {
    position: absolute;
}

.show-participants-temp {
    position: relative;
    top: 5%;
}

.lobby-frame-button {
    height: 5%;
    width: 85%;

    color: black;
    border-color: black;
    box-shadow: 2px 2px 5px -3px black;
}